* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

header {
    width: 100%;
    background-image: linear-gradient(to right, rgb(36, 85, 163), rgb(36, 108, 225), rgb(36, 85, 163));
    color: white;
    display: block;
}

#header_content {
    width: 100%;
    height: 55px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

#header_content >a>img {
    width: 40px;
    height: 40px;
    
}

.Vit_highlight {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

#header_content>h1 {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    padding-right: 63.5rem;
}

#header_content>p {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    display: flex;
    justify-content: left;
    align-items: left;
    padding-top: 0.5rem;
}

#sidebar {

    margin-bottom: 30px;
    text-align: left;
    background-color: white;
    position: fixed;
    top: 55px;
    height: 688px;
    width: 250px;
    display: block;
    padding-left: 1.5rem;
}

#sidebar>ul>li {
    padding-top: 2rem;
    list-style: none;
}

#sidebar>ul>li>a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

#sidebar>ul>li>a:hover {
    color: black;
    font-size: 20px;
}

#change{
    margin-left: 250px;
    position: fixed;
    border: 1px solid;
    border-color:  rgb(36, 85, 163) #ececec;
    height: 688px;
    width: 1300px;
    background-color: #ECF0F1;
}

#change1{
    margin-top: 10px;
    margin-left: 10px;
    position: fixed;
    background-color: white;
}


#change1 >h1{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    width: 1300px;

    margin-top: 5px;
    margin-left: 10px;
    
}


table{
    margin-top: 50px;
    margin-left: 10px;
    background-color: white;
    border-top: 8px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    width: 1250px;
    border-color:  #3c8dbc #ececec #ececec #ececec;
    
}
td{
    border: 1px solid;
    border-color:#ececec ;
    height: 40px;
    width: 635px;
    padding-left: 4px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

input[type=password]{
    margin-top: 1.5px;
    margin-left: 1.5px;
    border: 1px solid;
    border-color: #d3d3d3;
    height: 30px;
    width: 600px;
    border-radius: 0.25rem;
}

button{
    margin-left: 585px;
    background-color: #3c8dbc;
    border-radius: 0.25rem;
    border-color: #3c8dbc;
    color: white;
    font-size: 18px;
    height: 35px;
    width: 70px;
}
#change1 >h2{
    margin-left: 30px;
    font-size: 15px;
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
}
#change1 >ul>li{
    margin-left: 50px;
    padding-top: 10px;
    list-style: disc;
}